<!DOCTYPE html>

<html>


<style type="text/css">
    .tou_ming_tu_pian{
        /* background: url("/static/img/shanks.jpg") no-repeat; */
        background: url("/static/img/time.jpg") no-repeat;
        background-size: cover;
        opacity:0.8;
    }
</style>

  {% include head.html %}

 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body class="tou_ming_tu_pian">
    {% include header.html %}
    <div id="main" class="container main">
      {{ content }}
    </div>
    <div id="top" data-toggle="tooltip" data-placement="left" title="back to top">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>
    {% include footer.html %}
  </body>

<style type="text/css">
    .fixed-bottom {position: fixed;bottom: 0;width:100%;}
</style>


<script>
$(function(){
    function footerPosition(){
        $("footer").removeClass("fixed-bottom");
        var contentHeight = document.body.scrollHeight,
            winHeight = window.innerHeight;
        if(!(contentHeight > winHeight)){
            $("footer").addClass("fixed-bottom");
        }
    }
    footerPosition();
    $(window).resize(footerPosition);
});
</script>


</html>
